---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <slot name="navbar" />
    <slot />
    <footer>
      Site réalisé par Romaric Ruga (<a href="rimarok.com">rimarok.com</a>)
    </footer>
  </body>
</html>
