$container-width: 640px !default;

@use "./_components/navbar" with (
  $container-width: $container-width
);
@use "./_components/container" with (
  $container-width: $container-width
);
@use "./_components/btn" with (
  $container-width: $container-width
);
@use "./_components/footer" with (
  $container-width: $container-width
);
@use "./_components/carousel";

body {
  min-height: 100vh;
  margin: 0;
}
